<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="/Users/janardhan/IntelliJProjects/Question11">
        <classes>
            <class name="TestCases.Checkout_TestCase">
                <methods>
                    <include name="navigate"/>
                    <include name="checkout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>